resources/odd/escher.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Alfred Escher-Briefedition</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="escher.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-01-20+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="escher" source="teipublisher.odd"> <elementSpec ident="note" mode="change">
                    <model predicate="@type=&#34;annotation&#34;" behaviour="inline" cssClass="annotation">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model predicate="$parameters?header='context'" behaviour="listItem">
            <param name="content" value="@key/string()"/>
        </model>
                    <model behaviour="alternate" cssClass="popover">
            <param name="default" value="."/>
            <param name="alternate" value="@key"/>
        </model>
                </elementSpec>
                <elementSpec ident="choice" mode="change">
                    <model output="plain" predicate="sic and corr" behaviour="inline">
            <param name="content" value="corr[1]"/>
        </model>
                    <model output="plain" predicate="abbr and expan" behaviour="inline">
            <param name="content" value="expan[1]"/>
        </model>
                    <model output="plain" predicate="orig and reg" behaviour="inline">
            <param name="content" value="reg[1]"/>
        </model>
                    <model predicate="sic and corr" behaviour="alternate" cssClass="popover">
            <param name="default" value="sic[1]"/>
            <param name="alternate" value="corr[1]"/>
        </model>
                    <model predicate="abbr and expan" behaviour="alternate" cssClass="popover">
            <param name="default" value="abbr[1]"/>
            <param name="alternate" value="expan[1]"/>
        </model>
                    <model predicate="orig and reg" behaviour="alternate" cssClass="popover">
            <param name="default" value="orig[1]"/>
            <param name="alternate" value="reg[1]"/>
        </model>
                </elementSpec>
                <elementSpec ident="hi" mode="change">
                    <model predicate="@rend=&#34;underline&#34;" behaviour="inline" cssClass="underline"/>
                    <model behaviour="inline"/>
                    <model predicate="@rend=&#34;sup&#34;" behaviour="inline" cssClass="sup"/>
                    <model predicate="@rendition" behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="not(@rendition)" behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="supplied" mode="change">
                    <model behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="lb" mode="change">
                    <model behaviour="break" cssClass="line" useSourceRendition="true">
            <param name="type" value="'line'"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
            <elementSpec ident="p" mode="change">
                    <model predicate="@rend=&#34;right&#34;" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model>
                    <model behaviour="paragraph" cssClass="indent" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="keywords" mode="add">
                    <model behaviour="inline" cssClass="subheading">
            <param name="keywords" value="for $i at $pos in .//item  order by $i return (if ($pos &gt; 1) then ', ' else (), $i)"/>
            <pb:template xmlns="" xml:space="preserve"><div>Schlagwörter: [[keywords]]</div></pb:template>
        </model>
                </elementSpec>
                <elementSpec ident="item" mode="change">
                    <model predicate="$parameters?header=&#34;short&#34;" behaviour="inline"/>
                    <model behaviour="listItem"/>
                </elementSpec>
                <elementSpec ident="teiHeader" mode="change">
                    <model predicate="$parameters?header='context'" behaviour="inline">
            <param name="correspondents" value=".//correspDesc//persName"/>
            <param name="date" value=".//correspDesc//date"/>
            <param name="persons" value="for $p in root(.)//text//persName     let $k := $p/@key       group by $k       order by $k        return $p[1]"/>
            <param name="places" value="for $p in root(.)//text//placeName     let $k := $p/@key       group by $k       order by $k        return $p[1]"/>
            <pb:template xmlns="" xml:space="preserve"><div>  
  <h4>Korrespondenten</h4>
  	[[correspondents]]

  <h4>Briefdatum</h4>
  	[[date]]

  <h4>Markierungen eingeblendet</h4>
  
  <h4>Personen</h4>
  	[[persons]]
  
  <h4>Orte</h4>
  	[[places]]

</div></pb:template>
        </model>
                    <model predicate="$parameters?header='reference'" behaviour="inline" cssClass="subheading">
            <param name="id" value="substring-after(ancestor::TEI/@xml:id, 'K_')"/>
            <param name="ref" value="(.//msIdentifier/institution, ' ', .//msIdentifier/idno[@type='original'])"/>
            <param name="type" value="let $type:= .//msIdentifier/@type return if ($type != '') then ' (' || $type || ')' else ()"/>
            <pb:template xmlns="" xml:space="preserve">AES B[[id]] | [[ref]][[type]]</pb:template>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                    <model output="latex" behaviour="metadata"/>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
            <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="2"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="persName" mode="add">
                    <model predicate="$parameters?header='context' and ancestor::correspDesc" behaviour="listItem">
            <param name="content" value="."/>
        </model>
                    <model predicate="$parameters?header='context'" behaviour="listItem">
            <param name="content" value="@key/string()"/>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>